<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link id="favicon" rel="shortcut icon" type="image/png" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="../static/js/all.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/Chart.bundle.min.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/jspdf.min.js"></script>
    <script src="../static/js/html2canvas.min.js"></script>
    <script src="../static/js/html2pdf.js"></script>
</head>
<body>
    
    <div id="app">
        <div v-if="!login">
            <login></login>
        </div>
        <div v-if="login">
            <navbar></navbar>
            <lateralmenu>    
                <router-view></router-view>
            </lateralmenu>
        </div>
        
    </div>
    
    <template id="navbar">
        
            <nav class="navbar bg-blue mb-4">            
                
                <button class="btn btn-outline-light" @click.stop.prevent="toggle()">Menu</button>
            </nav>
            
    </template>

    <template id="relatorio-gen">
        <div class="box mb-4 border">
                <p style="text-align:center;font-size: 2em" class="display-4">{{titulo}}</p>
            <div class="table-responsive" >
                <table class="table table-hover" :class="titulo.replace(/ /g,'_')">
                    <thead>
                        <tr>
                            <th class="col" v-for="index in cabecalho" :key="index">{{index}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(en,index) in entrada">
                            <td class="col">{{en.codfun}}</td>
                            <td class="col">{{en.nomefun}}</td>
                            <td class="col teste" v-for="dado in en.dados">{{dado}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="text-align: center">
                            <th class="col" :colspan="cabecalho.length + 1" >{{titulo}}</th>
                        </tr>
                    </tfoot>
                </table>    
            </div> 
        </div>          
    </template>

    <template id="relatorio">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-sm">
                    <label for="inicio"> Data Inicial</label>
                    <input type="date" v-model="dataInicio" class="form-control mb-2"/>
                </div>
                <div class="col-sm">
                    <label for="fim">Data Final</label>
                    <input type="date" v-model="dataFim"class="form-control"/>
                </div>
                <div class="col-sm">
                    <label for="inicio">Hora Inicial</label>
                    <input type="text" v-model="horaInicio" class="form-control mb-2"/>
                </div>
                <div class="col-sm">
                    <label for="final">Hora Final</label>
                    <input type="text" v-model="horaFim" class="form-control"/>
                </div>
            </div>
            <div class="row justify-content-around mb-4">
                <button class="btn btn-info" @click.stop.prevent="limpar()">Limpar Relatorio</button>
                <button class="btn btn-success" @click.stop.prevent="capturar()">Gerar Relatorio</button>
                <button class="btn btn-secondary" @click.stop.prevent="exportar()" >Exportar Relatorio</button>
               
            </div>
                
            <div id="relatorioExportar">
                <div class="box border mb-3">
                    <p style="text-align:center;font-size: 2.5em" class="display-4">{{mesRel}}</p>
                </div>
                <grafico></grafico>
                <relatorio-gen :cabecalho="cabecalho" :entrada="dadostempo" :titulo="'TEMPO ATIVO'"></relatorio-gen>
                <relatorio-gen :cabecalho="cabecalho" :entrada="dadosqtd"   :titulo="'QUANTIDADE APROVA&Ccedil;&Atilde;O'"></relatorio-gen>
                <relatorio-gen :cabecalho="cabecalho" :entrada="dadosvenda" :titulo="'VENDAS POR HORA'"></relatorio-gen>
                <media-global  :entrada="dadosMedia"></media-global> 
            </div>
        </div>
        
    </template>

    <template id="grafico">
        <div class="box border mb-3">
            <canvas id="chart"></canvas>
        </div>
    </template>

    <template id="media-global">
        <div class="box border mb-5">
                <p style="text-align:center;font-size: 2em" class="display-4">MEDIA DE RENDIMENTO</p>
            <div class="justify-content-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FUNCIONARIO</th>
                            <th>MEDIA GLOBAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="en in entrada">
                            <td>{{en.codfun}}</td>
                            <td>{{en.nomefun}}</td>
                            <td>{{en.dados}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3" style="text-align: center">
                                MEDIA GLOBAL
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </template>

    <template id="gerenciamento">
        
        <div class="container gerenciamento w-50 p-4 box border">
            <gerenciamento-gen :titulo="'Usu&aacute;rios'" :usuarios="usuarios"  id="usuario"></gerenciamento-gen>
           
            <gerenciamento-gen :titulo="'Funcion&aacute;rios'" :funcionarios="funcionarios" id="funcionario"></gerenciamento-gen>

        </div>

    </template>

    <template id="gerenciamento-gen">
        <div class="justify-content-center">
            <template v-if="usuarios">
                <button class="btn btn-outline-secondary" data-toggle="modal" :data-target="'#novo' + id"><i class="fas fa-user-plus"></i></button>
            </template>
            <template v-if="funcionarios">
                <button class="btn btn-outline-secondary" data-toggle="modal" :data-target="'#novo' + id"><i class="fas fa-user-plus"></i></button>
            </template>
            <p class="display-4" style="font-size: 2.2em;text-align: center">{{titulo}}</p>
            <table class="table table-hover table-responsive-sm">
                <thead v-if="usuarios">
                    <tr>
                        <th>USU&Aacute;RIO</th>
                        <th>NOME</th>
                        <th>EMAIL</th>
                        <th>A&Ccedil;&Otilde;ES</th>
                    </tr>
                </thead>
                <thead v-if="funcionarios">
                    <tr>
                        <th>ID</th>
                        <th>FUNCION&Aacute;RIO</th>
                        <th>A&Ccedil;&Otilde;ES</th>
                    </tr>
                </thead>
                <tbody v-if="usuarios">
                    <tr v-for="(usuario) in usuarios" :key="usuario.cod_user">
                        <td>{{usuario.usuario_login}}</td>
                        <td>{{usuario.nome_usuario}}</td>
                        <td>{{usuario.email_usuario}}</td>
                        <td>
                            <button class="btn btn-outline-primary" @click.stop.prevent="getCodUser(usuario.cod_user,usuario.usuario_login,usuario.nome_usuario,usuario.email_usuario)"
                                    data-toggle="modal" 
                                    :data-target="'#' + id">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-danger" @click.stop.prevent="remUsuario(usuario.cod_user)">
                                    <i class="fas fa-user-minus"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody v-if="funcionarios">
                    <tr v-for="funcionario in funcionarios" :key="funcionario.codfun">
                        <td>{{funcionario.codfun}}</td>
                        <td>{{funcionario.nomefun}}</td>
                        <td>
                            <button class="btn btn-outline-primary" @click.stop.prevent="getCodFun(funcionario.codfun,funcionario.nomefun)"
                                    data-toggle="modal" 
                                    :data-target="'#' + id" >
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-danger" @click.stop.prevent="remFuncionario(funcionario.codfun)">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot v-if="usuarios">
                    <tr>
                        <th colspan="3" style="text-align: center">
                            {{usuarios.length}} - USU&Aacute;RIOS
                        </th>
                    </tr>
                </tfoot>
                <tfoot v-if="funcionarios">
                    <tr>
                        <th colspan="3" style="text-align: center;transform: translateX(-13%)">
                            {{funcionarios.length}} - FUNCION&Aacute;RIOS
                        </th>
                    </tr>
                </tfoot>
            </table>

            <!-- Modal -->
            <div class="modal fade" :id="id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edi&ccedil;&atilde;o</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <template v-if="usuarios">
                                <label for="usuario">Usuario:. </label>
                                <input v-model="usuario" type="text" class="form-control">
                                
                                <label for="nome">Nome:. </label>
                                <input v-model="nome" type="text" class="form-control">
                                
                                <label for="email">Email:. </label>
                                <input v-model="email" type="email" class="form-control">
                                
                                <label for="senha">Senha:. </label>
                                <input v-model="senha" type="password" class="form-control">
                                
                                <label for="confirmar_senha">Confirmar senha:. </label>
                                <input v-model="repeticao_senha" type="password" class="form-control">    
                            </template>

                            <template v-if="funcionarios">
                                <label for="codigo">Codigo funcionario:.</label>
                                <input v-model="codfun" style="width: 100px" type="text" class="form-control">
                                <label for="nome">Nome do fucionario:. </label>
                                <input v-model="funcionario" type="text" class="form-control">
                            </template>
                        </div>
                        <div class="modal-footer">         
                            <template v-if="usuarios">
                                <button @click.stop.prevent="altUsuario()" type="button" class="btn btn-primary">Salvar</button>
                            </template>
                            <template v-if="funcionarios">
                                <button @click.stop.prevent="altFuncionario()" type="button" class="btn btn-primary">Salvar</button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" :id="'novo' + id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Novo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <template v-if="usuarios">
                                <label for="usuario">Usuario:. </label>
                                <input v-model="usuario" type="text" class="form-control">
                                
                                <label for="nome">Nome:. </label>
                                <input v-model="nome" type="text" class="form-control">
                                
                                <label for="email">Email:. </label>
                                <input v-model="email" type="email" class="form-control">
                                
                                <label for="senha">Senha:. </label>
                                <input v-model="senha" type="password" class="form-control">
                                
                                <label for="confirmar_senha">Confirmar senha:. </label>
                                <input v-model="repeticao_senha" type="password" class="form-control">    
                            </template>

                            <template v-if="funcionarios">
                                <label for="codigo">Codigo funcionario:.</label>
                                <input v-model="codfun" style="width: 100px" type="text" class="form-control">
                                <label for="nome">Nome do fucionario:. </label>
                                <input v-model="funcionario" type="text" class="form-control">
                            </template>
                        </div>
                        <div class="modal-footer"> 
                            <template v-if="usuarios">
                                <button @click.stop.prevent="addUsuario()" type="button" class="btn btn-primary">Salvar</button>
                            </template>
                            <template v-if="funcionarios">
                                <button @click.stop.prevent="addFuncionario()" type="button" class="btn btn-primary">Salvar</button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </template>

    <template id="lateralmenu">
            

            <div class="d-flex" id="wrapper">

                    <!-- Sidebar -->
                    <div class="bg-roxo border-right " id="sidebar-wrapper">
                      <div class="list-group list-group-flush bg-roxo">
                        <router-link to="/" class="list-group-item list-group-item-action"><img id="logo" src="../static/img/logo.png" alt="Logo"></router-link>
                        <p style="text-align:center;font-size: 1.1em" class="list-group-item list-group-item-action">{{usuario | toUpper}}</p>
                        <router-link to="/" class="list-group-item list-group-item-action">Relatorio</router-link>
                        <router-link to="/Gerenciamento" class="list-group-item list-group-item-action">Gerenciamento</router-link>
                        <a href="#" class="list-group-item list-group-item-action" @click.stop.prevent="logout()">Sair</a>
                      
                        </div>

                        <div class="copyright">
                            <p class="display-4" style="font-size: 1em">@ HandyMobile 2019</p> 
                            <p class="display-4" style="font-size: 1em">Todos os direitos Reservados</p>    
                        </div>
                        
                    </div>
                    
                    <slot></slot>
                
            </div>

    </template>

    <template id="login">
        <div class="container">
            <div class="box border login">
                <img class="mb-5 logo" src="../static/img/logo.png" width="200px">
                <form>

                    <div class="form-group">
                        <input v-model="username" type="text" class="form-control" placeholder="Nome de Usuario">
                    </div>

                    <div class="form-group">
                        <input v-model="password" type="password" class="form-control" placeholder="Senha">
                    </div>
                    
                    <button type="submit" class="float-right btn btn-outline-primary" @click.stop.prevent="login()">Entrar</button>
                
                </form>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="erro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document"> 
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Herrar &eacute; Umano Tente Novamente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Usuario ou senha incorretos</h5>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </template>

    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>