<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Chart.min.css">

    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/Chart.bundle.min.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/dump.js"></script>

    <style>
            body{
                background-color: whitesmoke;
            }
            .container{
                background-color: white;
                border-radius: 15px;
            }
        </style>
</head>
<body>
    
    <div id="app">
        <navbar></navbar>
        
        <router-view></router-view>
    </div>
    
    <template id="relatorio">
        <div class="container p-4 mb-4">
            <table class="table table-striped table-bordered table-sm table-hover">
                <thead>
                    <tr style="text-align: center">
                        <th class="col" :colspan="cabecalho.length + 1"> {{mes}} </th>
                    </tr>
                    <tr>
                        <th class="col" v-for="index in cabecalho" :key="index">{{index}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="index in funcionarios" :key="index">
                        <td :title="ur" v-for="ur in cabecalho">{{ur}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="text-align: center">
                        <th :colspan="cabecalho.length + 1" >{{funcionarios.length}} FUNCIONARIOS</th>
                    </tr>
                </tfoot>
            </table>
        </div>     
    </template>

    <template id="navbar">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
                
            <router-link class="navbar-brand" to="/"><img src="../static/img/logo.svg" alt="Logo" width="30px"></router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" to="/">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/relatorio">Relatorio</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/usuarios">Usuarios</router-link>
                </li>
                </ul>
            </div>
        </nav>
        
    </template>

    <template id="dashboard">
        <div class="container p-4 mb-4">
            <canvas id="grafico"></canvas>
        </div>
    </template>

    <template id="usuarios">
        <div class="container p-4">
            <h1>Esta perdido?</h1>
        </div>
    </template>

    <template id="lateralmenu">
        <div>
            <nav class="nav flex-column" style="width:200px">
                <a class="nav-link active" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </nav>
        </div>

    </template>
    <script>
                
        var relatorio =  Vue.component("relatorio",{
            template:"#relatorio",
            created(){
            },
            data(){
                return{
                    cabecalho:["FUNCIONARIO"].concat(getDays()),
                    mes: getMes(),
                    funcionarios:[,,,,,,,,,,,,,,]
                }
            }
        })

        var dashboard = Vue.component("dashboard",{
            template:"#dashboard",

            mounted(){
                
                var ctx = document.getElementById('grafico');

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange','Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3, 12, -19, 3, 5, 2, 3],
                            backgroundColor: [],
                            borderColor: [],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });

        var usuarios = Vue.component("usuarios",{
            template:"#usuarios"
        });

        var lateralmenu = Vue.component("lateralmenu",{
            template:"#lateralmenu"
        });

        Vue.component("navbar",{
            template:"#navbar",
            data(){
                return{
                }
            }
        })
        var router = new VueRouter({
            routes:[
                { path:"/relatorio",component:relatorio },
                { path:"/",component:dashboard },
                { path:"/usuarios",component: usuarios }
            ]
        });
        
        var app = new Vue({ el:"#app",router});
        
        function montarHora(time){
            let tempo = time.split(" ");
            return moment(tempo[1],"HH:mm:ss");
        }

        function montarData(data){
            let date = data.split(" ");
            return moment(date[0],"YYYY/MM/DD");
        } 

        function getTimeInterval(tempoMenor,tempoMaior){

            let ms = moment(tempoMaior,"YYYY-MM-DD HH:mm:ss").diff(moment(tempoMenor,"YYYY-MM-DD HH:mm:ss"));
            let d = moment.duration(ms);
            let s = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");
            return s
        }

        function entre(dataQuestao,dataIni,dataFim){
            return moment(dataQuestao,"YYYY-MM-DD").isBetween(dataIni,dataFim);
        }

        function getDays(){
            let arr = []
            let max = moment(moment.now()).daysInMonth()
            for(i=1;i<=max;i++)
                arr.push(i)
            
            return arr
        }

        function getMes(){
            let mes = new Date().getMonth()
            
            switch (mes) {
                
                case 0: return "JANEIRO"
                    break;
                
                case 1: return "FERVEREIRO"
                    break;
                
                case 2: return "MARÇO"
                    break;
                
                case 3: return "ABRIL"
                    break;
                
                case 4: return "MAIO"
                    break;
                
                case 5: return "JUNHO"
                    break;
                
                case 6: return "JULHO"
                    break;
                
                case 7: return "AGOSTO"
                    break;
                
                case 8: return "SETEMBRO"
                    break;
                
                case 9: return "OUTUBRO"
                    break;
                
                case 10: return "NOVEMBRO"
                    break;
                
                case 11: return "DEZEMBRO"
                    break;
                
                default: return "FALHA"
                    break;
            }
        }
</script>

    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>
</html>